{% extends "layout-login-form.html" %}
{% block head %}
<style>
.input-b {width: 49%;}
.w-49 {width: 49%;}
</style>
<script src="static/js/register.js"></script>
{% endblock %}
{% block img %}
<img src="static/undraw_cooking_p7m1.svg" alt="cooking image">
{% endblock %}

{% block form %}
<div class="form">
    <form method="post" action="#" >
        <div class="form-header">

            <div class="title">
                <h1>Register</h1>
            </div>
            <div class="login-button">
                <a href="/login">Login</a>
            </div>
        </div>
        <section class="step-wizard">
            <ul class="step-wizard-list">
                <li class="step-wizard-item current-item">
                    <span class="progress-count">1</span>
                    <span class="progress-label">Restaurant info</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">2</span>
                    <span class="progress-label">Opening Hours</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">3</span>
                    <span class="progress-label">Login Info</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">4</span>
                    <span class="progress-label">Agree Terms</span>
                </li>
            </ul>
        </section>

        <div id="firstStep">
            <div class="input-g">
                <div class="input-b">
                    <label for="name" class="">Restaurant name: </label>
                    <input id="name" name="name" class="required" type="text" placeholder="Type the name of your restaurant" required>
                </div>

                <div class="input-b">
                    <label for="address" class="">Address: </label>
                    <input id="address" name="address" class="required" type="text" placeholder="Type the address of your restaurant" required>
                </div>

                <div class="input-b">
                    <label for="number" class="">Phone number: </label>
                    <input id="number" name="phone" class="required" type="number" placeholder="Type the phone number of restaurant" required>
                </div>
            </div>
            <button type="button" class="button button-sm" onclick="goPage(2)">Next</button>
        </div>
        <div id="secondStep" style="display: none;">
            <div class="input-t">
                <label for="monday" class="checkbox-l">
                    <input class="checkbox-c" id="monday" name="monday" type="checkbox">
                    Monday
                </label>
                <input type="time" name="opening_time" placeholder="Opening Time">
                <input type="time" name="closing_time" placeholder="Closing Time">
            </div>
            <div class="input-t">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="tuesday">
                    <label class="form-check-label" for="tuesday">Tuesday</label>
                </div>
                <input type="time" name="opening_time" placeholder="Opening Time">
                <input type="time" name="closing_time" placeholder="Closing Time">
            </div>
            <button type="button" class="button button-sm w-49" onclick="goPage(1)">Back</button>
            <button type="button" class="button button-sm w-49" onclick="goPage(3)">Next</button>
        </div>
        <div id="thirdStep" style="display: none;">
            <div class="input-g">
                <div class="input-b">
                    <label for="username" class="">Username: </label>
                    <input id="username" name="username" class="required" type="text" placeholder="Type your username" required>
                </div>

                <div class="input-b">
                    <label for="password" class="">Password: </label>
                    <input id="password" name="password" class="required" type="password" placeholder="Type your password" required>
                </div>

                <div class="input-b">
                    <label for="confirm" class="">Confirm password: </label>
                    <input id="confirm" name="confirm" class="required" type="password" placeholder="Confirm your password" required>
                </div>
            </div>
            <button type="button" class="button button-sm w-49" onclick="goPage(2)">Back</button>
            <button type="button" class="button button-sm w-49" onclick="goPage(4)">Next</button>
        </div>
        <div id="fourthStep" style="display: none;">
            <div class="input-g">
                <p>agree terms</p>
            </div>
            <button type="button" class="button button-sm w-49" onclick="goPage(3)">Back</button>
            <button class="button button-sm w-49" type="submit">Register</button>
        </div>
    </form>
{% endblock %}
