.container-fluid {
    width: 90%;
}
/* .navbar-exapand-lg {
    justify-content: space-around;
}
.navbar-brand {

    justify-content: space-around;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
} */

.bi-linkedin {
    background-image: url('linkedin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: white;
}

.invert-img {
    filter: invert(100%);
}

.span-button {
    margin-left: 0.5rem;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1000px;
    }
}

textarea {
  resize: none;
}
/* main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* body {
    background-color: black;
    filter: invert(100%);
} */
