.container-fluid {
    width: 90%;
}

#personImg {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#nameTitle {
    margin-top: 1.5rem;
}

.button-custom {
    margin: 0.2rem; 
    width: 120px;
}

.page-of-page {
    height:100px;
}

.invert-img {
    filter: invert(100%);
}

.span-button {
    margin-left: 0.5rem;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1000px;
    }
}

textarea {
  resize: none;
}
/* main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* body {
    background-color: black;
    filter: invert(100%);
} */
