.container-fluid {
    width: 90%;
}
/* .navbar-exapand-lg {
    justify-content: space-around;
}
.navbar-brand {

    justify-content: space-around;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
} */

.bi-linkedin {
    background-image: url('linkedin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: white;
}

.invert-img {
  filter: invert(100%);
}
