{% extends "menu/menu-layout.html" %}

{% block title %}Menu: {{ restaurant_info.name }}{% endblock %}
{% block head %}
{% endblock %}

{% block main %}
<div class="mx-auto search">
    <div class="input-group mb-2 mt-4">
        <span class="input-group-text bg-white border_right_none border_left_round">
            <span class="material-icons nav_icon">search</span>
        </span>
        <input type="text" class="form-control border_left_none border_right_none" placeholder="Search" id="search">
        <span class="input-group-text bg-white border_left_none border_right_round">
        </span>
    </div>
</div>

<div class="menu" style="background-color: {{ restaurant_info.color }};">
    <div class="form-header">
        <div class="title mt-5 text-center">
            <h1>{{ restaurant_info.name }}</h1>
        </div>
    </div>
        <p>address: {{ restaurant_info.address }}</p>
        <p>phone: {{ restaurant_info.phone }}</p>
</div>

<div class="cart" style="background-color: {{ restaurant_info.color }};">
    p

</div>
{% endblock %}

{% block edit %}{% endblock %}
