{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="h1 fw-bold mb-5">Create Account</h1>
    <form action="/register" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" value="" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" value="" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password" value="" required>
            <div class="invalid-feedback">
                Error message
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        // Take password values
                        let newPassword = form.querySelector('#password').value;
                        let confirmPassword = form.querySelector('#confirmation').value;
                        let passwordQuery = form.querySelector('#confirmation')

                        // Compare the passwords
                        if (newPassword !== confirmPassword) {
                            passwordQuery.setCustomValidity('Passwords do not match.');
                            passwordQuery.parentElement.querySelector('.invalid-feedback').innerHTML = 'Passwords do not match.';
                        }
                        // Check if the field is blank
                        else if (newPassword === '' && confirmPassword === '') {
                            passwordQuery.parentElement.querySelector('.invalid-feedback').innerHTML = 'Type a password.';
                        }
                        else {
                            passwordQuery.setCustomValidity('');
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}
