.container-fluid {
    width: 90%;
}
.button {
    background-color: #ff0000;
    color: white !important;
    border-radius: 10px;
    border-color: #ff0000;
}
.button:hover {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
}
.button:focus,
.button.focus {
    color: #fff;
    background-color: #cc0000;
    border-color: #cc0000;
    box-shadow: 0 0 0 0.2rem rgba(204, 0, 0, 0.5);
}

.navbar-red {
    background-color: #ffffff;
    color: #ff0000 !important;
    border: none;
    text-decoration: none;
}
.navbar-brand {
    color: #ff0000 !important;
}
